<nav >
    <h1><a href='/'>7CS</a></h1>
    <ul>
        <li><a href='/'>Ana Sayfa</a></li>
        <li><a href='/about'>Hakkımızda</a></li>
        <li><a href='/login'>Login</a></li>
    </ul>
</nav>