<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h1>Hakkımızda </h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos ipsa quod ab earum, temporibus obcaecati dolor. Labore cupiditate animi sit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos ipsa quod ab earum, temporibus obcaecati dolor. Labore cupiditate animi sit.</p>
    </section>
</body>
</html>